.form__input {
    margin: 40px 0 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    max-width: calc(100% - 60px);
    padding: 6px 0;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 640px) {
    .form__input {
        font-size: 14px;
        line-height: 17px;
    }
}